<app-navbar>
</app-navbar>
<div class="">

</div>
<div class=" table-section">
    <div class="voip">
        <h1 class="title text-center d-flex justify-content-start"> Les offres VOIP :
        </h1>
        <div class="container">
            <div class=" action row">
                <div class="col-6 order-2">
                    <div class="d-flex justify-content-end input-group">
                        <input type="search" class="form-control rounded col-md-5" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        <button type="button" class="btn ">search</button>
                    </div>
                </div>
                <div class="col-6 order-1">
                    <button class="btn" routerLink="/orangeb2b/create">Ajouter une offre</button>
                </div>
            </div>
        </div>
    </div>


    <div class="table-section container">

        <table align="center" class="table">
            <thead>
                <tr>
                    <th style="border-top-left-radius: 10px; " scope="col ">Id</th>
                    <th scope="col text-center">Offre</th>
                    <th scope="col text-center">Service</th>
                    <th scope="col text-center">Equipement</th>

                    <th style="border-top-right-radius: 10px; " scope="col ">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let offres of catalogues[0].offre; index as i ">
                    <ng-container *ngFor="let services of offres.service ">
                        <ng-container *ngFor="let equipements of services.equipement ">
                            <td class="text-center">{{ offres.id}}</td>
                            <td class="text-center">{{ offres.offreName}}</td>
                            <td class="text-center">{{ services.typeService }}</td>
                            <td class="text-center">{{ equipements.typeEquipement}}</td>
                            <td class="text-center"> <button (click)="getId(offres.id) " class=" btn btn4 ">Consulter</button></td>
                        </ng-container>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>