<app-navbar></app-navbar>

<h1 class="alignn"> Les offres VOIP :</h1>
<button class="btn2">Ajouter une offre</button>
<br><br><br>

<input class="align2" type="text" placeholder="Search..">
<button class="btn3">Search</button>
<br><br><br>

<div>
    <table style="text-align: left">
        <thead>
            <tr style="font-size: large;">
                <th style="border-top-left-radius: 10px;">Offre</th>
                <th>Service</th>
                <th>Equipement</th>
                <th>Stock</th>
                <th></th>
                <th></th>
                <th></th>
                <th style="border-top-right-radius: 10px;"></th>
            </tr>
        </thead>
        <tr>
            <td>Abonnement fixe</td>
            <td>Voip Analogique FXS</td>
            <td>Patton(SN5541/JS4V/EUI)</td>
            <td>12</td>
            <td> <button class="btn4">Consulter</button></td>
            <td> <button class="btn4">Modifier</button></td>
            <td> <button class="btn4">Archiver</button></td>
        </tr>

    </table>
</div>
<a routerLink="/orangeb2b"><button class="btn5" >Retour</button><a>