<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <h1 class="alignn"> Les offres VOIP :</h1>

        <button class="btn2" routerLink="/orangeb2b/create">Ajouter une offre</button>
    </div>
    <div class="col-md-4 col-sm-0">

    </div>

    <div class="col-md-4 align-self-end ">
        <br><br><br><br><br><br><br>
        <div class="input-group">
            <input type="search" class="form-control rounded col-md-5" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary btn3">search</button>
        </div>
    </div>


</div>

<br><br><br>

<div class="row">

    <table align="center" class="table">
        <thead>
            <tr>
                <th style="border-top-left-radius: 10px; " scope="col ">Offre</th>
                <th scope="col ">Service</th>
                <th scope="col ">Equipement</th>
                <th scope="col ">Stock</th>
                <th style="border-top-right-radius: 10px; " scope="col "></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let offres of catalogues[0].offre; index as i ">
                <ng-container *ngFor="let services of offres.service ">
                    <ng-container *ngFor="let equipements of services.equipement ">
                        <td>{{ offres.offreName}}</td>
                        <td>{{ services.typeService }}</td>
                        <td>{{ equipements.typeEquipement}}</td>
                        <td>{{ offres.id}}</td>
                        <td> <button (click)="getId(offres.id) " class=" btn btn4 ">Consulter</button></td>
                    </ng-container>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>