<app-navbar></app-navbar>

<body>
    <div class="container">
        <div class="row offres">
            <div class="col-md-12">
                <div>
                    <h2>Offres <b>Voip :</b></h2>
                    <div routerLink="/orangeb2b/voip" class="btn more">More</div>

                </div>


                <div id="myCarousel" class="carousel slide borderr" data-ride="carousel" data-interval="0">

                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>

                                            <p class="item-price"><b>$250.00</b></p>
                                            <a href="#" class="btn ">Consulter</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>

                                            <p class="item-price"><b>$250.00</b></p>
                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>

                                            <p class="item-price"><b>$250.00</b></p>
                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>

                                            <p class="item-price"><b>$250.00</b></p>
                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>

                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</body>
