<app-navbar></app-navbar>

<body>
    <div class="container">
        <div class="row offres">
            <div class="col-md-12">
                <h2>Offres <b>Voip :</b></h2>
                <div id="myCarousel" class="carousel slide border" data-ride="carousel" data-interval="0">

                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>

                                            <p class="item-price"><b>$250.00</b></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>

                                            <p class="item-price"><b>$250.00</b></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>

                                            <p class="item-price"><b>$250.00</b></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>

                                            <p class="item-price"><b>$250.00</b></p>
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>
