.container {
    border: #ff6600;
}

.borderr {
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}

img {
    width: 10em;
}

.offres {
    margin-top: 2em;
}

h2 {
    font-weight: bold;
}

b {
    color: #ff6600;
}

.btn {
    border: #ff6600 1px solid;
    color: #ff6600;
    font-weight: bold;
    font-size: large;
    padding: 0.5em;
}

.btn:hover {
    border: #ff6600 1px solid;
    color: white;
    background-color: #ff6600;
}

.more {
    margin-left: 60em;
    margin-top: -3em;
}
