<app-navbar></app-navbar>

<body>
    <div class="container">
        <div class="row offres">
            <div class="col-md-12">
                <div>
                    <h2>Offres <b>Voip :</b></h2>
                    <div routerLink="/orangeb2b/voip" class="btn more">More</div>

                </div>


                <div id="myCarousel" class="carousel slide borderr" data-ride="carousel" data-interval="0">

                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class=" img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Ale 3000</h4>


                                            <a href="#" class="btn ">Consulter</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/gxp.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>GXP 200</h4>

                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/alcatel.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Alcatel 5</h4>

                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/cisco.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Cisco 500</h4>

                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>

                                </div>

                            </div>


                        </div>


                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-12">
                <div>
                    <h2>Options <b>Data :</b></h2>
                    <div routerLink="/orangeb2b/data" class="btn more">More</div>

                </div>


                <div id="myCarousel" class="carousel slide borderr" data-ride="carousel" data-interval="0">

                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ekinops.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Ekinops 4</h4>

                                            <a href="#" class="btn ">Consulter</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ac1200.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>AC 1200</h4>

                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/nbg7510.png" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>NBG 7510</h4>

                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/one300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>One 300</h4>

                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>

                                </div>

                            </div>


                        </div>


                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-12">
                <div>
                    <h2>Offres <b>Wifi :</b></h2>
                    <div routerLink="/orangeb2b/wifi" class="btn more">More</div>

                </div>


                <div id="myCarousel" class="carousel slide borderr" data-ride="carousel" data-interval="0">

                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/darbox.png" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Huawei</h4>

                                            <a href="#" class="btn ">Consulter</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/wifi.png" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Wifi</h4>

                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/Dual-Band.png" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Dual Band</h4>

                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/flybox.png" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>FlyBox</h4>

                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>

                                </div>

                            </div>


                        </div>


                    </div>
                </div>
            </div>
            <hr>
            <div class="col-md-12">
                <div>
                    <h2>Offres <b>Switch Tel wifi :</b></h2>
                    <div routerLink="/orangeb2b/switch_wifi_tel" class="btn more">More</div>
                </div>


                <div id="myCarousel" class="carousel slide borderr" data-ride="carousel" data-interval="0">

                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>

                                            <a href="#" class="btn ">Consulter</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>

                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>

                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="../../assets/ale300.jpg" class="img-fluid " alt="Responsive image">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>

                                            <a href="#" class="btn ">Consulter</a> </div>
                                    </div>

                                </div>

                            </div>


                        </div>


                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</body>
