.nav-item {
    padding: 0.5em;
    font-size: large;
    font-weight: bold;
}

.nav-link {
    color: #ff6600 !important;
}

.nav-item :hover {
    /* color: #ff6600; */
}

.navbar-brand {
    font-weight: bold;
    font-size: larger;
}

.brand {
    color: #ff6600 !important;
}

.dropdown-item:active {
    background-color: #ff6600;
}
