.product-list .price {
    color: #ff6600;
    font-size: 15px;
}

.product_meta a,
.pro-price {
    color: #ff6600;
}

.quantity {
    width: 120px;
}

.bb {
    color: white;
    background-color: black;
}

.bb:hover {
    color: white;
    background-color: #ff6600;
}
