.background {
    background-image: url("../../assets/OrangeG.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    height: 100%;
    margin-top: 4.65em;
}

.titre {
    width: 100%;
    padding: 25px;
    color: #ff6600;
    margin-bottom: 1em;
}

.btn-color {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: #ff6600;
    color: white;
}

.btn:disabled {
    background-color: #f8a770;
}
