<app-navbar></app-navbar>
<br><br><br>


<!-- <div class="container col-md-8 ">

    <h1>Ajouter une offre/option :</h1>
    <form align="center">

        <div class="form-row">
            <div class="form-group col-md-4">
                <br>
                <h4>Categorie :</h4>
            </div>
            <div class="form-group col-md-2">
                <br>
                <select [(ngModel)]="catalogues.categorie" name="categorie" id="inputState" class="form-control">
              <option selected>VOIP</option>
              <option>DATA</option>
              <option>WIFI</option>
              <option>SWITCH_WIFI_TEL</option>
          </select>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-4">
                <br>
                <input [(ngModel)]="catalogues.offre[0].offreName" name="offreName" type="text" class="form-control" placeholder="Nom de l'offre">
            </div>
            <div class="form-group col-md-4">
                <br>
                <input [(ngModel)]="catalogues.offre[0].service[0].typeService" name="typeService" type="text" class="form-control" placeholder="Type de service">
            </div>
            <div class="form-group col-md-4">
                <br>
                <input [(ngModel)]="catalogues.offre[0].service[0].equipement[0].typeEquipement" name="typeEquipement" type="text" class="form-control" placeholder="Type d'equipement">
            </div>
        </div>

        <div class="form-group">
            <br>
            <input type="text" class="form-control" placeholder="Description">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <br>
                <input [(ngModel)]="catalogues.offre[0].service[0].equipement[0].caracteristique[0].marque" name="marque" type="text" class="form-control" placeholder="Marque">
            </div>
            <div class="form-group col-md-4">
                <br>
                <input [(ngModel)]="catalogues.offre[0].service[0].equipement[0].caracteristique[0].nbrPort" name="nbrPort" type="text" class="form-control" placeholder="Nombre de port">
            </div>
            <div class="form-group col-md-4">
                <br>
                <input [(ngModel)]="catalogues.offre[0].service[0].equipement[0].caracteristique[0].aplSim" name="aplSim" type="text" class="form-control" placeholder="Appels simultanés">
            </div>
            <div class="form-group col-md-6">
                <br>
                <input [(ngModel)]="catalogues.offre[0].service[0].equipement[0].caracteristique[0].acces" name="acces" type="text" class="form-control" placeholder="Accès">
            </div>
            <div class="form-group col-md-6">
                <br>
                <input [(ngModel)]="catalogues.offre[0].service[0].equipement[0].caracteristique[0].prix" name="prix" type="text" class="form-control" placeholder="Prix">
            </div>
        </div>
        <br>
        <div>
            <button (click)="create()" class="btn col-md-3">Ajouter</button>
        </div>
    </form>
</div> -->

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Ajouter une offre/option</h2>
                </div>
                <div class="card-body ">
                    <form method="POST">
                        <div class="form-row">
                            <div class="name">Categorie</div>
                            <div class="form-group col-md-3">
                                <br>
                                <select align="center" [(ngModel)]="catalogues.categorie" name="categorie" name="subject" [(ngModel)]="catalogues.categorie" name="categorie" id="inputState" class="form-control">
                        <option align="center" selected>VOIP</option>
                        <option align="center" >DATA</option>
                        <option align="center" >WIFI</option>
                        <option align="center" >SWITCH_WIFI_TEL</option>
                    </select>
                            </div>
                        </div>
                        <div class="col-10  ">
                            <div class="form-row ">
                                <div class="name">Nom de l'Offre/Option :</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input [(ngModel)]="catalogues.offre[0].offreName" name="offreName" class="input--style-5" type="text" name="company">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Type de service :</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input [(ngModel)]="catalogues.offre[0].service[0].typeService" class="input--style-5" type="text" name="company">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Type d'equipement :</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input [(ngModel)]="catalogues.offre[0].service[0].equipement[0].typeEquipement" name="typeEquipement" class="input--style-5" type="email" name="email">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row col-8 ">
                                <div class="name">Marque :</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input [(ngModel)]="catalogues.offre[0].service[0].equipement[0].caracteristique[0].marque" name="marque" class="input--style-5" type="text" name="company">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row col-8">
                                <div class="name">Nombres de ports :</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input [(ngModel)]="catalogues.offre[0].service[0].equipement[0].caracteristique[0].nbrPort" name="nbrPort" class="input--style-5" type="text" name="company">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row col-8">
                                <div class="name">Appels Simultane :</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input [(ngModel)]="catalogues.offre[0].service[0].equipement[0].caracteristique[0].aplSim" name="aplSim" class="input--style-5" type="email" name="email">
                                    </div>
                                </div>
                            </div>


                            <div class="form-row col-8">
                                <div class="name"> Acces :</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input [(ngModel)]="catalogues.offre[0].service[0].equipement[0].caracteristique[0].acces" name="acces" class="input--style-5" type="email" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row col-8">
                                <div class="name">Prix :</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input [(ngModel)]="catalogues.offre[0].service[0].equipement[0].caracteristique[0].prix" name="prix" class="input--style-5" type="email" name="email">
                                    </div>
                                </div>
                            </div>


                            <div class="bb">
                                <button (click)="create()" class="btn" type="submit">Resister</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    {{catalogues | json}}
