.btn {
    color: white;
    background-color: black;
}

.btn:hover {
    background-color: #ff6600;
    color: white;
}

select:hover {
    background-color: #ff6600;
    color: black;
    border: none;
}

option {
    background-color: white;
    color: black;
}